<body class="document">
    <div class="header">
        <div class="header__top">
            <div class="header__top__button">
                <%= link_to "sample SNS", root_path, class: "header__top__title" %>
                <% if user_signed_in? %>
                <a class="button mypage", href="/users/<%= current_user.id %>">マイページ</a>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button logout" %>
                <% else %>
                <%= link_to "アカウント作成", new_user_registration_path, class: "button signup" %>
                <%= link_to "ログイン", new_user_session_path, class: "button login"%>
                <% end %>
            </div>
        </div>
        <div class="header__search">
            <form class="header__search__form">
                <div class="formarea">
                    <input class="form-input" type="text" id="search-name" placeholder="ユーザー名を入力してください"/>
                    <button type="submit" class="icon icon--search">
                      <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
      </div>
        <div class="main">
            <div class="main__timeline">
              <% @tweets.each do |tweet|%>
              <div class="main__timeline__contents__wrapper">
                <div class="main__timeline__contents sample1">
                  <% if tweet.image.present? %>
                      <div class="main__timeline__contents__image">
                        <%= image_tag tweet.image.index.url, class:"tweet-index-image" %>
                      </div>
                      <% end %>
                      <div class="main__timeline__contents__user">
                        <div class="main__timeline__contents__user__header">
                          <div class="main__timeline__contents__user__header__image">
                            <% if tweet.user.image.present? %>
                            <%= image_tag tweet.user.image.thumb.url, class:"profile-thumb" %>
                            <% else %>
                            <%= image_tag 'user_image.jpg', class:"profile-thumb-no-image" %>
                            <% end %>
                          </div>
                          <div class="main__timeline__contents__user__header__info">
                          <div class="main__timeline__contents__user__header__name">
                            <a class="userpage-link" href="/users/<%= tweet.user_id %>">
                            <%= tweet.user.name %>
                            </a>
                          </div>
                        <div class="main__timeline__contents__user__header__time">
                          <%= tweet.created_at %>
                        </div>
                      </div>
                    </div>
                      </div>
                      <div class="main__timeline__contents__text">
                        <%= tweet.text%>
                      </div>
                      <div class="main__timeline__contents__action">
                        <a class="tweet-replay">
                          <i class="fa fa-mail-reply">コメント</i>
                        </a>
                      </div>
                </div>
              </div>
                <% end %>
            </div>
        </div>
        <div class="footer"></div>
    </body>
