<% content_for :title do %>
ホーム/samplel SNS
<% end %>
<body class="document">
  <div class="post-form-content">
    <div class="post-form-area">
      <%= form_for @tweet, url: tweets_path, html: { method: :post, class: "post-form-box"} do |f| %>
      <div class="form-user-info cf">
        <div class="form-user-info-img">
        </div>
        <div class="cansel-button">
          <%= fa_icon "window-close 3x color" %>
        </div>
      </div>
      <div class="post-form-box-text">
        <%= f.text_area :text, maxlength:140, placeholder:"140文字以内", autofocus: true %>
      </div>
      <div class="post-form-box-toolbar cf">
        <div class="post-form-box-toolbar-button">
          <%= f.submit "投稿", class: "post-form-box-toolbar-button-send" %>
        </div>
        <div class="post-form-box-toolbar-button-image">
          <label class="image-icon" for="tweet_image">
            <%= fa_icon "camera 4x color" %>
            <span class="change-image">画像を選択</span>
          </label>
          <%= f.file_field :image, class:"image-file-field" %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="selected-image">
    </div>
  </div>
  <%= render partial: 'shared/header', locals: { tweets: @tweets } %>
  <div class="main">
    <div class="post-button">
      <div class="post-content-wrap cf">
        <div class="user-image">
          <% if current_user.image.present? %>
          <%= image_tag current_user.image.thumb.url, class:"profile-thumb" %>
          <% else %>
          <%= image_tag 'user_image.jpg', class:"profile-thumb-no-image" %>
          <% end %>
        </div>
        <div class="post-text">
          <p>投稿する</p>
        </div>
        <div class="post-icon">
          <%= fa_icon "pencil 4x color" %>
        </div>
      </div>
    </div>
    <% @tweets.each do |tweet|%>
    <div class="main-timeline">
      <div class="main-timeline-contents-wrapper">
        <div class="main-timeline-contents sample1">
          <div class="main-timeline-contents-user cf">
            <div class="main-timeline-contents-user-header">
              <div class="main-timeline-contents-user-header-image">
                <% if tweet.user.image.present? %>
                <%= image_tag tweet.user.image.thumb.url, class:"profile-thumb" %>
                <% else %>
                <%= image_tag 'user_image.jpg', class:"profile-thumb-no-image" %>
                <% end %>
              </div>
              <div class="main-timeline-contents-user-header-name">
                <a class="userpage-link" href="/users/<%= tweet.user_id %>">
                  <%= tweet.user.name %>
                </a>
              </div>
              <div class="main-timeline-contents-user-header-time">
                <%= tweet.created_at %>
              </div>
            </div>
          </div>
          <div class="main-timeline-contents-text">
            <%= simple_format(tweet.text)%>
          </div>
          <% if tweet.image.present? %>
          <div class="main-timeline-contents-image">
            <%= image_tag tweet.image.index.url, class:"tweet-index-image" %>
          </div>
          <% end %>
          <div class="main-timeline-contents-action">
            <%= link_to tweet_path(tweet.id), class: "tweet-replay" do %>
            <%= fa_icon "reply 3x color" %>
            <% end %>
            <% if current_user.id == tweet.user.id %>
            <%= link_to tweet_path(tweet.id), method: :delete, class:"tweet-destroy" do %>
            <%= fa_icon "trash-o 3x color"%>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="footer"></div>
  <div class="post-icon-fixed">
    <%= fa_icon "pencil 4x color" %>
  </div>
</body>
