<body class="document">
    <div class="header__top">
        <div class="header__top__button">
            <%= link_to "sample SNS", root_path, class: "header__top__title" %>
            <% if user_signed_in? %>
            <%= link_to "アカウント編集",  edit_user_registration_path, class: "button edit" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button logout" %>
        <% else %>
            <%= link_to "アカウント作成", new_user_registration_path, class: "button signup" %>
            <%= link_to "ログイン", new_user_session_path, class: "button login"%>
            <% end %>
        </div>
    </div>
    <div class="page-comment-container">
        <div class="content__right">
            <div class="content__right__tweet__detail__container">
                <div class="content__right__tweet__detail">
                    <ol class="content__right__line__list">
                        <li class="content__right__line__list__item">
                            <div class="content__right__tweet__detail__list__item__section">
                                <div class="content__right__line__list__item__section__header">
                                    <div class="content__right__line__list__item__section__header__image">
                                        <% if @tweet.user.image.present? %>
                                        <%= image_tag @tweet.user.image.thumb.url, class:"profile-thumb" %>
                                    <% else %>
                                        <%= image_tag 'user_image.jpg', class:"profile-thumb-no-image" %>
                                        <% end %>
                                    </div>
                                    <div class="content__right__line__list__item__section__header__info">
                                        <div class="content__right__tweet__detail__list__item__section__header__name">
                                            <%= @tweet.user.name %>
                                        </div>
                                        <div class="content__right__line__list__item__section__header__time">
                                            <%= @tweet.created_at %>
                                        </div>
                                    </div>
                                </div>
                                <div class="content__right__tweet__detail__list__item__section__text">
                                    <p>
                                        <%= @tweet.text %>
                                    </p>
                                </div>
                                <div class="content__right__line__list__item__section__image">
                                    <%= image_tag @tweet.image, class:"tweet-index-image" %>
                                </div>
                                <div class="content__right__line__list__item__section__footer">
                                    <a class="tweet-replay">
                                        <i class="fa fa-mail-reply">コメント</i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="content__right__tweet">
                <div class="content__right__tweet__tweet-box">
                    <%= form_for @comment, url: "/tweets/#{@tweet.id}/comments", html: { method: :post, class: "content__right__tweet__tweet-box__form"} do |f| %>
                    <div class="content__right__tweet__tweet-box__form__text">
                        <%= f.text_area :text, maxlength:140, placeholder:"140文字以内", autofocus: true %>
                    </div>
                    <div class="content__right__tweet__tweet-box__form__toolbar">
                        <div class="content__right__tweet__tweet-box__form__toolbar__button">
                            <%= f.submit "コメント", class: "content__right__tweet__tweet-box__form__toolbar__button__send button" %>
                            <div class="content__right__tweet__tweet-box__form__toolbar__button__image">
                                <label class="image__icon">
                                    <i class="fa fa-camera">
                                        <%= f.file_field :image, class:"image-file-field" %>
                                    </i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
            <div class="content__right__line__container">
                <div class="content__right__line">
                    <ol class="content__right__line__list">
                        <% @comments.each do |comment| %>
                        <li class="content__right__line__list__item">
                            <div class="content__right__line__list__item__section">
                                <div class="content__right__line__list__item__section__header">
                                    <div class="content__right__line__list__item__section__header__image">
                                        <% if comment.user.image.present? %>
                                        <%= image_tag comment.user.image.thumb.url, class:"profile-thumb" %>
                                    <% else %>
                                        <%= image_tag 'user_image.jpg', class:"profile-thumb-no-image" %>
                                        <% end %>
                                    </div>
                                    <div class="content__right__line__list__item__section__header__info">
                                        <div class="content__right__line__list__item__section__header__name">
                                            <%= comment.user.name %>
                                        </div>
                                        <div class="content__right__line__list__item__section__header__time">
                                            <%= comment.created_at %>
                                        </div>
                                    </div>
                                </div>
                                <div class="content__right__line__list__item__section__text">
                                    <%= comment.text %>
                                </div>
                                <div class="content__right__line__list__item__section__image">
                                    <%= image_tag comment.image, class:"comment-image" %>
                                </div>
                                <div class="content__right__line__list__item__section__footer">
                                    <a class="tweet-replay">
                                        <i class="fa fa-mail-reply">コメント</i>
                                    </a>
                                    <% if user_signed_in? && current_user.id == comment.user.id %>
                                    <%= link_to '削除', "/tweets/#{comment.tweet.id}/comments/#{comment.id}",method: :delete, class:"comment-destroy" %>
                                    <% end %>
                                </div>
                            </div>
                        </li>
                        <% end %>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
