<body class="document">
    <div class="header__top">
        <div class="header__top__button">
            <%= link_to "sample SNS", root_path, class: "header__top__title" %>
            <% if user_signed_in? && current_user.id == @user.id %>
            <%= link_to "プロフィール編集",  edit_user_registration_path, class: "button edit" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button logout" %>
            <% elsif user_signed_in? %>
            <a class="button mypage" , href="/users/<%= current_user.id %>">マイページ</a>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button logout" %>
        <% else %>
            <%= link_to "アカウント作成", new_user_registration_path, class: "button signup" %>
            <%= link_to "ログイン", new_user_session_path, class: "button login"%>
            <% end %>
        </div>
    </div>
        <div class="page-container">
            <div class="content__left">
                <div class="content__left__profile">
                    <div class="content__left__profile__image">
                        <% if @user.image.present? %>
                        <%= image_tag @user.image.url, class:"profile-image" %>
                    <% else %>
                        <p class="profile-no-image">
                            <%= image_tag 'user_image.jpg' %>
                        </p>
                        <% end %>
                    </div>
                    <div class="content__left__profile__bottom">
                        <div class="content__left__profile__bottom__detail">
                            <h1 class="content__left__profile__bottom__detail__name">
                                <%= @user.name %>
                            </h1>
                            <%= @user.text %>
                            <div class="content__left__profile__bottom__detail__joindate">
                                <%= @user.created_at %>に登録
                            </div>
                            <div class="content__left__profile__bottom__detail__edit">
                              <% if user_signed_in? && current_user.id == @user.id %>
                              <%= link_to "プロフィール編集",  edit_user_registration_path, class: "profile-edit" %>
                              <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content__right">
                <% if user_signed_in? && current_user.id == @user.id %>
                <div class="content__right__tweet">
                    <div class="content__right__tweet__tweet-box">
                        <%= form_for @tweet, url: tweets_path, html: { method: :post, class: "content__right__tweet__tweet-box__form"} do |f| %>
                        <div class="content__right__tweet__tweet-box__form__text">
                            <%= f.text_area :text, maxlength:140, placeholder:"140文字以内", autofocus: true %>
                        </div>
                        <div class="content__right__tweet__tweet-box__form__toolbar">
                            <div class="content__right__tweet__tweet-box__form__toolbar__button">
                                <%= f.submit "投稿する", class: "content__right__tweet__tweet-box__form__toolbar__button__send button" %>
                                <div class="content__right__tweet__tweet-box__form__toolbar__button__image">
                                    <label class="image__icon">
                                        <i class="fa fa-camera">
                                            <%= f.file_field :image, class:"image-file-field" %>
                                        </i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
                <% end %>
                <div class="content__right__line__container">
                    <div class="content__right__line">
                        <ol class="content__right__line__list">
                            <% @tweets.each do |tweet| %>
                            <li class="content__right__line__list__item">
                                <div class="content__right__line__list__item__section">
                                    <div class="content__right__line__list__item__section__header">
                                        <div class="content__right__line__list__item__section__header__image">
                                            <% if @user.image.present? %>
                                            <%= image_tag @user.image.thumb.url, class:"profile-thumb" %>
                                        <% else %>
                                            <%= image_tag 'user_image.jpg', class:"profile-thumb-no-image" %>
                                            <% end %>
                                        </div>
                                        <div class="content__right__line__list__item__section__header__info">
                                            <div class="content__right__line__list__item__section__header__name"><%= @user.name %>
                                            </div>
                                            <div class="content__right__line__list__item__section__header__time"><%= tweet.created_at %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content__right__line__list__item__section__text"><%= tweet.text %>
                                    </div>
                                    <div class="content__right__line__list__item__section__image">
                                        <%= image_tag tweet.image, class:"tweet-index-image" %>
                                    </div>
                                    <div class="content__right__line__list__item__section__footer">
                                        <% if user_signed_in? %>
                                        <a class="tweet-replay" href="/tweets/<%= tweet.id %>">
                                            <i class="fa fa-mail-reply">コメント</i>
                                        </a>
                                    <% else %>
                                        <a class="tweet-replay" href="/users/sign_in">
                                            <i class="fa fa-mail-reply">コメント</i>
                                        </a>
                                        <%end%>
                                        <% if user_signed_in? && current_user.id == tweet.user.id %>
                                        <%= link_to '削除', "/tweets/#{tweet.id}",method: :delete, class:"tweet-destroy" %>
                                        <% end %>
                                    </div>
                                </div>
                            </li>
                            <% end %>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
</body>
