<% content_for :title do %>
プロフィール/samplel SNS
<% end %>
<body class="document">
  <%= render partial: 'shared/header', locals: { tweets: @tweets } %>
  <div class="page-container">
    <div class="content-profile">
      <div class="content-profile-image">
        <% if @user.image.present? %>
        <%= image_tag @user.image.url, class:"profile-image" %>
        <% else %>
        <%= image_tag 'prof_no_image.png', class:"profile-no-image" %>
        <% end %>
      </div>
      <div class="content-profile-info">
        <p class="content-profile-name">
          <%= @user.name %>
        </p>
        <div class="content-profile-message">
          <%= simple_format(@user.text) %>
        </div>
        <div class="content-profile-more cf">
          <div class="content-profile-follow">
            <table class="user-data-table">
              <tr>
                <th>投稿数</th>
                <td><%= @user.tweets.count %></td>
              </tr>
              <tr>
                <th>フォロー数</th>
                <td><%= @user.following.count %></td>
              </tr>
              <tr>
                <th>フォロワー数</th>
                <td><%= @user.followers.count %></td>
              </tr>
            </table>
          </div>
          <div class="content-profile-edit">
            <% if current_user.id == @user.id %>
            <div class="profile-edit-button">
              <%= link_to edit_user_registration_path, class: "profile-edit" do %>
              <span>プロフィール編集</span>
              <% end %>
            </div>
            <% end %>
            <% unless current_user.id == @user.id %>
            <div class="profile-follow-botton">
              <% if current_user.following?(@user) %>
              <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }) do |f| %>
              <%= f.submit "フォローを解除する", class: "profile-unfollow-send" %>
              <% end %>
              <% else %>
              <%= form_for(current_user.active_relationships.build) do |f| %>
              <div><%= hidden_field_tag :followed_id, @user.id %></div>
              <%= f.submit "フォローする", class: "profile-follow-send" %>
              <% end %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="main__timeline">
      <div class="main-timeline-contents-wrapper">
        <h2>投稿一覧</h2>
        <% @tweets.each do |tweet|%>
        <div class="main-timeline-contents sample1">
          <div class="main-timeline-contents-user cf">
            <div class="main-timeline-contents-user-header">
              <div class="main-timeline-contents-user-header-image">
                <% if tweet.user.image.present? %>
                <%= image_tag tweet.user.image.thumb.url, class:"profile-thumb" %>
                <% else %>
                <%= image_tag 'user_image.jpg', class:"profile-thumb-no-image" %>
                <% end %>
              </div>
              <div class="main-timeline-contents-user-header-name">
                <a class="userpage-link" href="/users/<%= tweet.user_id %>">
                  <%= tweet.user.name %>
                </a>
              </div>
              <div class="main-timeline-contents-user-header-time">
                <%= tweet.created_at %>
              </div>
            </div>
          </div>
          <div class="main-timeline-contents-text">
            <%= tweet.text%>
          </div>
          <% if tweet.image.present? %>
          <div class="main-timeline-contents-image">
            <%= image_tag tweet.image.index.url, class:"tweet-index-image" %>
          </div>
          <% end %>
          <div class="main-timeline-contents-action">
            <% if user_signed_in? %>
            <a class="tweet-replay" href="/tweets/<%= tweet.id %>">
              <%= fa_icon "reply 3x color" %>
            </a>
            <% else %>
            <a class="tweet-replay" href="/users/sign_in">
              <%= fa_icon "reply 3x color" %>
            </a>
            <%end%>
            <% if user_signed_in? && current_user.id == tweet.user.id %>
            <%= link_to "/tweets/#{tweet.id}",method: :delete, class:"tweet-destroy" do %>
            <%= fa_icon "trash-o 3x color"%>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</body>
