<div class="header">
  <div class="menu-overlay"></div>
  <div class="header-top">
    <div class="header-top-button">
      <div class="side-menu">
        <ul>
          <li>
            <div class="side-menu-image">
              <% if current_user.image.present? %>
              <%= image_tag current_user.image.url, class:"profile-image" %>
              <% else %>
              <%= image_tag 'prof_no_image.png', class:"profile-no-image" %>
              <% end %>
              <div class="image-overlay">
              </div>
              <P>
                <%= current_user.name %>
              </P>
            </div>
          </li>
          <li>
            <%= link_to root_path, class: "side-menu-link" do %>
            <div class="side-menu-icon">
              <%= fa_icon "home 3x color" %>
            </div>
            <h2>ホーム</h2>
            <% end %>
          </li>
          <li>
            <%= link_to user_path(current_user.id), class: "side-menu-link" do %>
            <div class="side-menu-icon">
              <%= fa_icon "user 3x color" %>
            </div>
            <h2> プロフィール</h2>
            <% end %>
          </li>
          <li>
            <div class="side-menu-icon">
              <%= fa_icon "users 3x color" %>
            </div>
            <h2>コミュニティ</h2>
          </li>
          <li>
            <div class="side-menu-icon">
              <%= fa_icon "cog 3x color" %>
            </div>
            <h2>設定</h2>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: "side-menu-link" do %>
            <div class="side-menu-icon">
              <%= fa_icon "sign-out 3x color" %>
            </div>
            <h2> ログアウト</h2>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="header-menu-button">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="search-button">
        <%= fa_icon "search 3x color" %>
      </div>
    </div>
  </div>
</div>
