<% content_for :title do %>
ログイン/samplel SNS
<% end %>
<body class="document">
  <div class="header">
    <div class="header-top-button-devise">
      <%= link_to root_path, class: "header-top-title-devise" do %>
      <h1>sample SNS</h1>
      <% end %>
      <%= link_to new_user_registration_path, class: "button signup" do %>
      <p>新規登録</p>
      <% end %>
    </div>
  </div>
  <div class="devise-container">
    <div class="page-canvas">
      <div class="signup-wrapper">
        <h2 class="signup-title">ログイン</h2>
        <p class="alert">
          <%= alert %>
        </p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-field">
          <%= f.label :email, class:"form-field-label" %>
          <%= f.email_field :email, autofocus: true, class: "input-form" %>
        </div>
        <div class="form-field">
          <%= f.label :password, class:"form-field-label" %>
          <%= f.password_field :password, autocomplete: "off", class: "input-form" %>
        </div>
        <div class="form-field">
        </div>
        <div class="form-action">
          <%= f.submit "ログイン", class:"login-button" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</dody>
